<footer class="bg-primary text-light text-center py-3 mt-5">
  <p>
    Desenvolvido por
    <b
      ><a
        class="link-light link-underline-opacity-0"
        href="https://github.com/arthurbonfim"
        >Arthur Bonfim</a
      ></b
    >
  </p>
</footer>
<script src="/js/bootstrap.min.js"></script>
